{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classification Sports</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@500&display=swap"
        rel="stylesheet">

</head>

<body>
    <section class="header">
        <nav>
            <a href="#" class="logo_name">HM</a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>

                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="{% url 'process' %}" class="hero-btn">Go Process</a></li>
                </ul>
            </div>
            <i class="fas fa-bars" onclick="showMenu()"></i>
        </nav>
        <div class="text-box" >
            <h1 id="about">Classification 73 Types Of Sports</h1>
            <p>In This Project For Classification 73 Types Of Sports <br>Please Click On The Below Button To Test Your
                Image Predict </p>
            <a href="{% url 'process' %}" class="hero-btn">Go Process</a>

        </div>
    </section>
    
    <footer>
        <div class="copyright">Copyright &copy; 2021 Hamza Manssor</div>
    </footer>
    <script>
        var navLinks = document.getElementById("navLinks");

        function showMenu() {
            navLinks.style.right = "0px";
        }
        function hideMenu() {
            navLinks.style.right = "-200px";
        }

    </script>
</body>

</html>